*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.header {
    width: 1920px;
    height: 112px;
    flex-shrink: 0;
    background: rgba(14, 28, 28, 0.75);
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: flex-end;
    gap: 5.604px;
    flex-shrink: 0;
}
.header > .logo {
    margin-block: auto;
    margin-left: 84px;
}
.logo > img {
    width: 202.486px;
    height: 80.386px;
}
.menu > ul {
    display: flex;
    /* width: 712px; */
    /* height: 31px; */
    align-items: center;
    /* gap: 72px; */
    flex-shrink: 0;
    color: #FFF;
    font-family: TradeGothicW02-BoldCn20;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header > .menu > ul{
    margin-right: 212px; 
}
.header > .menu > ul li a{
    display: flex;
    align-items: center;
    padding-block: 40px;
    padding-inline: 36px;
}
.header > .menu > ul li a:hover{
    background-color: white;
    color: #007EE8;
}

.footer{
    width: 1920px;
    height: 886px;
    flex-shrink: 0;
    background-color: #0E1C1C;
    display: flex;
    justify-content: center;
}
.footer_block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer_block > .logo {
    align-self: center;
}
.footer_info {
    display: flex;
    gap: 125px;
    /* justify-content: space-between; */
    
}
.footer_info_block{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer_info_block:first-of-type p:last-of-type{
    flex-wrap: wrap;
    width: 277.5px;
}

.footer_info_block:nth-of-type(2){
    width: 317px;
}

.footer_info_block .title, .footer_info_block .time_block{
    text-align: center;
}
.time_block {
    display: flex;
    justify-content: space-between;
}
.footer_block p {
    color: white;
    font-size: 26px;
    font-family: Roboto;
}
.footer_info_block > .icons {
    display: flex;
    gap: 30px;
    align-items: center;
}

.footer_block > .menu > ul{
    gap: 72px;
}
.footer_block li{
    position: relative;
}
.footer_block a {
    color: gray;
}
.footer_block a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transition: transform 0.25s ease-out;
}
.footer_block a:hover{
    color: white;
}
.footer_block a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom center;
}

.footer_block > .menu, .copyright {
    display: flex;
    justify-content: center;
}
