@media screen and (max-width: 768px) {
    /*---------- header burger */
    .header .menu {
        position: absolute;
        display: none;
        width: 100%;
        height: 100vh;
        background-color: #2E2E2E;
        top: 100%;
    }
    .header .menu ul{
        flex-direction: column;
        align-items: start;
    }
    .header .menu ul li a {
        /* align-items: start; */
        padding-block: 20px;
        padding-left: 24px;
        padding-right: calc(100vw - 24px - 100%);
        overflow: hidden;
        /* padding-inline: 1%; */
        /*36px;*/
    }
    .burger{
        position: relative;
        display: block;
        width: 12%;
        display: flex;
        justify-content: center;
    }
    .burger svg{
        width: 35%;
    }
    .burger a{
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
    }

    /* ----------------about */
    .about_description .wrapper .txt {
        width: 80%;
    }

    .about_description .wrapper img {
        width: 60%;
    }

    .about .team {
        width: 80%;
    }

    .about .coach_cards .coach {
        width: 60%;
    }

    .coach_modal .white_block {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .coach_modal img {
        width: 35%;
        padding: 2%;
    }

    article p.summary {
        width: 95%;
    }

    .white_block article {
        gap: 10px;
    }

    /* ---------- pricing */
    .pcourse_cards {
        width:90%;
    }
    .pcourse_card.slick-slide {
        width: 50vw;
    }

    .pcourse_cards div a {
        /* font-size: 2rem; */
        font-size: clamp(0.813rem, -0.413rem + 5.026vw, 2rem);
        padding-top: 85%;
        display: none;
        transition: 0.3s ease;
    }

    .price_team .pteam_cards {
        width: 90%;
    }
    .price_team {
        flex-direction: column;
    }
    .price_team .txt{
        align-self: center;
        width: 90%;
        text-align: center;
        margin-bottom: 10%;
    }

    .coaches.slick-slide {
        /* width: 50vw; */
        height: 400px;
    }
    .coaches.slick-slide img{
        width: fit-content;
    }
    
    /* ----------footer */
    .footer_info {
        display: flex;
        /* gap: 125px; */
        /* gap: 6.5104166667vw; */
        gap: 35px;
    }
    .footer_info_block .icons div svg{
        width: 20px;
    }
    .footer_info_block .icons div:last-of-type svg{
        width: 15px;
    }


    /* ----------course inner  */
    .banner_cards {
        flex-direction: column;
        align-items: center;

    }
    .banner_card .tick {
        margin-bottom: 0;
    }
    .banner_cards .banner_card {
        flex-direction: row;
    }
    .banner_card .card_title{
        display: flex;
        align-items: center;
        gap: 5px;
    } 
    .banner_card .card_title p:last-child {
        font-size: 1.25rem;
    }
    .banner_card .bc_overlay{
        display: none;
    }
    .banner_cards .banner_card {
        padding-block: 2%;
    }
    .whatis h3{
        font-size: 3.5625rem;
    }
    .benefit_card .bcard_title h3 {
        font-size: 1.5625rem;
    }
    .benefit_card .bcard_title h4 {
        /* font-size: clamp(0.625rem, 0.16rem + 1.489vw, 1.5rem); */
        font-size: 0.875rem;
    }
    .benefit_card .bcard_txt div p {
        font-size: 0.775rem;
    }
    .benefit_card .bcard_txt div {
        width: 100%;
        margin-block: 15px;
        margin-top: 20px;
    }
    .benefit_card .bcard_txt div:nth-of-type(2) {
        border-left: 0px;
        width: 100%;
    }
}

@media screen and (max-width: 620px) {
    .pcourse_cards {
        width: 90%
    }
    .pcourse_card.slick-slide {
        width: 50vw;
    }
}
@media screen and (max-width: 426px) {
    .footer_info_block .icons div svg{
        width: 15px;
    }
    .footer_info_block .icons div:last-of-type svg{
        width: 10px;
    }
    .footer_info_block>.icons {
        gap: 15px;
    }
    .footer_info {
        gap: 10px;
    }
    .footer_info_block:nth-of-type(2) {
        width: 35%;
    }
}

@media screen and (min-width: 768px) {
    .pcourse_cards {
        /* width: 90vw; */
        max-width: 1200px;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: auto;
    }


    .pcourse_cards div {

        width: 22%;
        /* width: 19.2969vw; */
        /* height: 55.4412vh; */
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        filter: grayscale(0);
        background-size: cover;
    }

    .pcourse_cards div img {
        width: 100%;
        height: 100%;
        transition: 0.3s ease;
        transform: scale(1.3);
    }

    .pcourse_cards div .overlay {
        opacity: .4;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        content: ' ';
        z-index: 0;
        transition: 0.3s ease;
    }

    .pcourse_cards div:hover img {
        transform: scale(1);
    }

    .pcourse_cards div a {
        position: absolute;
        width: 100%;
        /* padding-bottom: 100%; */
        height: 100%;
        z-index: 3;
        font-family: "TradeGothicLTStd-BdCn20";
        font-size: 2rem;
        transform: scale(0.9);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease;
        padding-top: 60%;

    }

    .pcourse_cards div:hover a {
        margin-bottom: 50px;
        transform: scale(1.0);
    }

    .pcourse_cards .punch:hover .overlay {
        background: #827C02;
    }

    .pcourse_cards .kick:hover .overlay {
        background: #197817;
    }

    .pcourse_cards .lift:hover .overlay {
        background: #8D122C;
    }

    .pcourse_cards .yoga:hover .overlay {
        background: #89269E;
    }

}